.play-border
{
  width: 800px;
  height: 800px;
  border: 2px white solid;
  margin-top: 50px;
  margin-left: 500px;
  position: absolute;
}
body
{
  background-color: black;
  padding: 50px;
}

.speed-sliders-div
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
