.App
{
  width: 1600px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.board
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1
{
  margin: 0;
  padding: 0;
}

.game
{
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.play-square
{
  width: 800px;
  height: 800px;
  border: 2px black solid;
}
body
{
  background-color: whitesmoke;
  padding-top: 30px;
}

.speed-sliders-div
{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
