.slide-line
{
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
}

.slide-ball
{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: yellow;
  top: 0px;
  left: 0px;


}